@tailwind base;
@tailwind components;
@tailwind utilities;

small {
  font-size: var(--text-xs);
  display: inline-block;
}


.markdown {
  a {
    color: var(--color-info-500);

    &:hover {
      text-decoration: underline;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-block-start: var(--m-1);
  }
  h1 {
    font-size: var(--text-lg);
  }
  table, pre, blockquote {
    margin-block: var(--m-1);
  }
  ul, ol {
    padding-inline-start: 1.25rem;
  }
  ol {
    list-style: auto;
  }
  ul {
    list-style: disc;
  }
  blockquote {
    background-color: var(--color-info-100);
    border-radius: var(--rounded-md);
    padding: var(--p-2);
  }
  pre {
    background-color: var(--color-slate-700);
    color: var(--color-yellow-400);
    border-radius: var(--rounded-md);
    padding: var(--p-2);
  }
  table {
    /* border: 1px solid var(--color-info-500); */
    width: 100%;
    thead {
      tr {
        background-color: var(--color-beige-300);
      }
    }
    th {
      text-align: left;
    }
    tr {
      * {
        padding: var(--p-1);
      }
    }
    tr:nth-child(even) {
      background-color: var(--color-beige-200);
    }
  }
}


@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('ttf');
}
@font-face {
  font-family: 'Neue Machina';
  src: url('/fonts/PPNeueMachina-Ultrabold.woff2') format('woff2');
  font-weight: bold;
}
@font-face {
  font-family: 'Neue Machina';
  src: url('/fonts/PPNeueMachina-Regular.woff2') format('woff2');
  font-weight: normal;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform var(--transition-duration-300) var(--transition-timing-function-default);
}

.slide-enter-from,
.slide-leave-to {
  transform: translateY(-100%);
}


.list-container, /* apply transition to moving elements */
.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all var(--transition-duration-300) ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: scale(0.95);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}


/* 1. declare transition */
.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scaleY(0.9) translate(0px, 0);
}
.fade-leave-active {
  position: absolute;
}


.page-enter-active,
.page-leave-active {
  transition: var(--transition-duration-300) var(--transition-timing-function-default);
}

.page-enter,
.page-leave-active {
  opacity: 0;
}