@tailwind base;
@tailwind components;
@tailwind utilities;

small {
  font-size: var(--text-xs);
  display: inline-block;
}





@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('ttf');
}

.slide-enter-active,
.slide-leave-active {
  transition: transform var(--transition-duration-300) var(--transition-timing-function-default);
}

.slide-enter-from,
.slide-leave-to {
  transform: translateY(-100%);
}


.list-container, /* apply transition to moving elements */
.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all var(--transition-duration-300) ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: scale(0.95);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}


/* 1. declare transition */
.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scaleY(0.9) translate(0px, 0);
}
.fade-leave-active {
  position: absolute;
}


.page-enter-active,
.page-leave-active {
  transition: var(--transition-duration-300) var(--transition-timing-function-default);
}

.page-enter,
.page-leave-active {
  opacity: 0;
}